Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

Make Highlights readable in dark mode
  assets/css/research-v2.css
Due: prettier --write

Fix footer maintainer links
  _includes/footer-v2.html
Due: none

Add SoftComp feature news item
  _data/news.yml
Due: prettier --write

news: add SoftComp Network feature for PRL 136 paper
  News.md
Due: markdownlint-cli2

news: add SoftComp feature entry to _data/news.yml
  _data/news.yml
Due: prettier --write

news: Add Ayush Dixit Best Video Award at JMBC Burgers Symposium 2026
  _data/hero.yml
  _data/news.yml
Due: prettier --write

hero: Add poster image for JMBC Best Video entry
  _data/hero.yml
  assets/images/news/jmbc-2026-best-video.jpg
  index.html
Due: prettier --write

Fix SoftComp news URL typo
  News.md
  _data/news.yml
Due: prettier --write, markdownlint-cli2

Patch website dependency alerts
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
Due: prettier --write

Align rebuild Ruby toolchain
  .github/workflows/rebuild-on-search-update.yml
Due: prettier --write

Use Ruby 3.2 patch line for search rebuild
  .github/workflows/rebuild-on-search-update.yml
Due: prettier --write

Sanitize team member anchor slugs
  _team/index.md
Due: markdownlint-cli2

Sandbox homepage YouTube embed
  index.html
Due: none

Escape homepage data output
  _includes/safe-href.html
  _includes/safe-inline.html
  index.html
Due: none

Filter internal blog search entries
  _research/index.md
  assets/js/search-manager.js
  tests/search-manager.test.js
Due: eslint --fix, prettier --write, markdownlint-cli2

Harden search database update workflow
  .github/workflows/update-search.yml
Due: prettier --write

Harden org profile workflow auth
  .github/workflows/sync-org-profile-publications.yml
Due: prettier --write

Add CoMPhy Python 101 teaching card
  _teaching/index.md
  assets/images/teaching/comphy-python101.svg
Due: markdownlint-cli2

Add CoMPhy Python 101 teaching card (#97)
  _teaching/index.md
  assets/images/teaching/comphy-python101.svg
Due: markdownlint-cli2

Address Python course review feedback
  _teaching/index.md
Due: markdownlint-cli2

Address Python course review feedback (#98)
  _teaching/index.md
Due: markdownlint-cli2

Add PRF version of elasticity bubble pinch-off paper
  _org_profile/README.md
  _research/index.md
  index.html
Due: markdownlint-cli2

Bump concurrent-ruby to 1.3.7
  Gemfile.lock
Due: none

Bump concurrent-ruby to 1.3.7 (#99)
  Gemfile.lock
Due: none

feat: add self-similar Worthington jets preprint
  _research/index.md
  assets/images/research/self-similar-worthington-jet-collapse.png
Due: markdownlint-cli2

feat: add self-similar Worthington jets preprint (#100)
  _research/index.md
  assets/images/research/self-similar-worthington-jet-collapse.png
Due: markdownlint-cli2

Add in-house contact card
  _layouts/default.html
  assets/contact/vatsal-sanjay.vcf
  assets/css/contact-card.css
  assets/js/contact-card.js
  contact-card.html
  tests/contact-card.test.js
Due: eslint --fix, prettier --write

Address contact card review feedback
  assets/css/contact-card.css
  assets/js/contact-card.js
  assets/js/utils.js
  contact-card.html
  tests/contact-card.test.js
  tests/utils.test.js
Due: eslint --fix, prettier --write

Promote contact-card social links to ghost pills
  assets/css/contact-card.css
Due: prettier --write

Align contact card with v2 design system
  assets/css/contact-card.css
  contact-card.html
Due: prettier --write

Add in-house contact card (#101)
  _layouts/default.html
  assets/contact/vatsal-sanjay.vcf
  assets/css/contact-card.css
  assets/js/contact-card.js
  assets/js/utils.js
  contact-card.html
  tests/contact-card.test.js
  tests/utils.test.js
Due: eslint --fix, prettier --write

Guard missing clipboard helper
  assets/js/contact-card.js
Due: eslint --fix, prettier --write
