Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

Wire fonts, tokens, and v2 footer into every layout
  _layouts/default.html
  _layouts/history.html
  _layouts/join-us.html
  _layouts/teaching-course.html
  _layouts/teaching.html
Due: none

Rewrite homepage to v2 — data-driven hero, themes, news, team
  _data/hero.yml
  _data/news.yml
  _data/research_themes.yml
  _data/team.yml
  assets/css/home.css
  index.html
Due: prettier --write

Migrate team page to data-driven roster
  _team/index.md
  assets/css/team-v2.css
Due: prettier --write, markdownlint-cli2

Migrate research page to v2 — themes above the paper list
  _layouts/research.html
  assets/css/research-v2.css
Due: prettier --write

Add /news/ archive, extend command palette, null-guard main.js
  assets/js/command-data.js
  assets/js/main.js
  news/index.md
Due: eslint --fix, prettier --write, markdownlint-cli2

Backfill news archive to May 2024
  _data/news.yml
Due: prettier --write

Restore research tag-filter (paper-container wrap + click + URL sync)
  _layouts/research.html
Due: none

Lay research filter tags horizontally instead of stacked
  assets/css/research-v2.css
Due: prettier --write

Support YouTube videos in hero rotator; update to [23], [22], [14]
  _data/hero.yml
  assets/css/home.css
  index.html
Due: prettier --write

Swap YouTube iframe for local hero-holeySheets.m4v
  _data/hero.yml
  assets/css/home.css
  index.html
Due: prettier --write

Add hero-holeySheets.m4v asset (960×720, 4.3 s, 918 KB)
  assets/videos/hero-holeySheets.m4v
Due: none

Switch hero panel to 4:3 with medium-aware object-fit
  assets/css/home.css
Due: prettier --write

Move hero caption to a paper-tint side panel for contrast
  assets/css/home.css
  index.html
Due: prettier --write

Split hero layout by medium: portrait-poster stills, full-bleed motion
  assets/css/home.css
  index.html
Due: prettier --write

Fix hero: clickable links + frosted paper-tint caption for video
  assets/css/home.css
Due: prettier --write

Lower motion-caption opacity to 55% so DNS shows through
  assets/css/home.css
Due: prettier --write

Stack motion slides: 16:9 video on top, caption strip below
  _data/hero.yml
  assets/css/home.css
  assets/videos/hero-holeySheets-16-9.m4v
Due: prettier --write

Promote 16:9 video to canonical hero-holeySheets.m4v
  _data/hero.yml
  assets/videos/hero-holeySheets-16-9.m4v
  assets/videos/hero-holeySheets.m4v
Due: prettier --write

Lift hero caption sub-line to --fg-1 in dark mode
  assets/css/home.css
Due: prettier --write

Remove hero stats strip — humble, not braggy
  _data/hero.yml
  assets/css/home.css
  index.html
Due: prettier --write

Dark-mode audit pass: softer paper, lifted gradient, selector fix
  assets/css/bridge.css
Due: prettier --write

Path conditions:
  eslint --fix: any of: assets/js/**/*.js
  prettier --write: ((any of: assets/js/**/*.js) or (any of: assets/css/**/*.css)) or (any of: *.{json,yml,yaml})
  markdownlint-cli2: any of: *.md
