Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

feat(build): skip prepare script and audit/fund during install
  scripts/build.sh
  scripts/setup.sh
Due: none

feat(deps): upgrade jest to 29.7.0
  package-lock.json
  package.json
  scripts/setup.sh
  scripts/simple-test.js
Due: prettier --write

feat: remove .ruby-version restoration from setup script
  scripts/setup.sh
Due: none

Update search database from comphy-search repository
  assets/js/search_db.json
Due: prettier --write

feat: Upgrade Node.js version to 20 in weekly tests
  .github/workflows/weekly-tests.yml
Due: prettier --write

feat: tests started well
  .npmrc
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/setup.js.html
  package-lock.json
  package.json
  scripts/runTests.sh
Due: prettier --write

test: expand test coverage for JavaScript files
  jest.config.js
  tests/command-data-actual.test.js
  tests/fix-line-length-actual.test.js
  tests/platform-utils.test.js
  tests/shortcut-key.test.js
  tests/teaching.test.js
Due: none

feat: tests coverage up
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/setup.js.html
  coverage/lcov.info
  tests/setup.test.js
Due: prettier --write

chore: update test coverage reports
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/assets/js/command-data.js.html
  coverage/lcov-report/assets/js/command-palette.js.html
  coverage/lcov-report/assets/js/index.html
  coverage/lcov-report/assets/js/main.js.html
  coverage/lcov-report/assets/js/platform-utils.js.html
  coverage/lcov-report/assets/js/shortcut-key.js.html
  coverage/lcov-report/assets/js/teaching.js.html
  coverage/lcov-report/scripts/fix-line-length.js.html
  coverage/lcov-report/scripts/index.html
  coverage/lcov.info
Due: prettier --write

test improvements
  coverage/clover.xml
  coverage/lcov-report/assets/js/command-data.js.html
  coverage/lcov-report/assets/js/command-palette.js.html
  coverage/lcov-report/assets/js/index.html
  coverage/lcov-report/assets/js/main.js.html
  coverage/lcov-report/assets/js/platform-utils.js.html
  coverage/lcov-report/assets/js/shortcut-key.js.html
  coverage/lcov-report/assets/js/teaching.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/scripts/fix-line-length.js.html
  coverage/lcov-report/scripts/index.html
Due: none

dependancy bash
  scripts/setup-dependencies.sh
Due: none

Add dependency setup script for clean machines
  scripts/setup-dependencies.sh
Due: none

Consolidate setup scripts into single comprehensive setup.sh
  CLAUDE.md
  README.md
  scripts/setup-dependencies.sh
  scripts/setup.sh
Due: markdownlint-cli2

docs: comprehensive update to README and CLAUDE documentation
  CLAUDE.md
  README.md
Due: markdownlint-cli2

tests done
  coverage/clover.xml
  coverage/lcov-report/assets/js/command-data.js.html
  coverage/lcov-report/assets/js/command-palette.js.html
  coverage/lcov-report/assets/js/index.html
  coverage/lcov-report/assets/js/main.js.html
  coverage/lcov-report/assets/js/platform-utils.js.html
  coverage/lcov-report/assets/js/shortcut-key.js.html
  coverage/lcov-report/assets/js/teaching.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/scripts/fix-line-length.js.html
  coverage/lcov-report/scripts/index.html
Due: none

chore: ignore test coverage files and remove from tracking
  .gitignore
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/assets/js/command-data.js.html
  coverage/lcov-report/assets/js/command-palette.js.html
  coverage/lcov-report/assets/js/index.html
  coverage/lcov-report/assets/js/main.js.html
  coverage/lcov-report/assets/js/platform-utils.js.html
  coverage/lcov-report/assets/js/shortcut-key.js.html
  coverage/lcov-report/assets/js/teaching.js.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/scripts/fix-line-length.js.html
  coverage/lcov-report/scripts/index.html
  coverage/lcov-report/setup.js.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: prettier --write

feat(team): Add new team member details
  _team/index.md
Due: markdownlint-cli2
