Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, markdownlint-cli2

🐛 fix: Disable line length limits in markdown files and fix GitHub link formatting in history.md
  .markdownlint.json
  history.md
Due: prettier --write, markdownlint-cli2

🐛 fix: Fix markdownlint issues in README.md
  .lintstagedrc.json
  .stylelintrc.json
  CLAUDE.md
  README.md
  aboutCoMPhy.md
Due: prettier --write, markdownlint-cli2

Add unit tests for JavaScript modules
  README.md
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/assets/js/command-data.js.html
  coverage/lcov-report/assets/js/index.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/setup.js.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  jest.config.js
  package-lock.json
  package.json
  tests/command-data.test.js
  tests/fix-line-length.test.js
  tests/setup.js
  tests/setup.test.js
Due: prettier --write, markdownlint-cli2

Add search database generation script and update build process
  README.md
  scripts/build.sh
  scripts/generate_search_db.rb
  scripts/generate_seo_tags.rb
Due: markdownlint-cli2

Revert search database generation - use external comphy-search repo workflow
  scripts/build.sh
  scripts/generate_search_db.rb
Due: none

updated things
  assets/js/platform-utils.js
  coverage/clover.xml
  coverage/lcov-report/index.html
  coverage/lcov-report/setup.js.html
  scripts/fix-quotes.sh
  scripts/fix-script-order.sh
Due: eslint --fix, prettier --write

manual process to automated
  scripts/lint-check.sh
Due: none

test suite
  .github/workflows/weekly-tests.yml
  coverage/clover.xml
  coverage/lcov-report/index.html
  coverage/lcov-report/setup.js.html
Due: prettier --write

removed unused urls
  _config.yml
Due: prettier --write

ipdated lones
  _layouts/team.html
  _team/index.md
  aboutCoMPhy.md
  assets/css/styles.css
  assets/css/team.css
  assets/images/team/0.jpg
  assets/images/team/7.jpg
  assets/js/command-data.js
  assets/js/command-palette.js
  assets/js/main.js
  assets/js/shortcut-key.js
  assets/js/teaching.js
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint-cli2

remove unused tests
  .github/workflows/weekly-tests.yml
Due: prettier --write

tests up-to-date
  coverage/clover.xml
  coverage/lcov-report/index.html
  coverage/lcov-report/setup.js.html
  scripts/lint-check.sh
  tests/command-data.test.js
Due: none

fixed lint
  assets/js/teaching.js
  coverage/clover.xml
  coverage/lcov-report/index.html
  coverage/lcov-report/setup.js.html
Due: eslint --fix, prettier --write

feat: Add omit=dev to .npmrc file
  .npmrc
Due: none

feat(package.json): Update prepare script to use npx
  history.md
  package.json
Due: prettier --write, markdownlint-cli2

feat: Migrate ESLint configuration to a module
  .eslintrc.json
  eslint.config.js
Due: prettier --write

Update search database from comphy-search repository
  assets/js/search_db.json
Due: prettier --write

fix: Update link for "Join Us" in history and news pages
  News.md
  history.md
Due: markdownlint-cli2

feat(command-data): Improve icon formatting and consistency
  assets/js/command-data.js
  assets/js/command-palette.js
  assets/js/main.js
  assets/js/teaching.js
Due: eslint --fix, prettier --write

feat(setup): Add setup script for CoMPhy Lab website
  scripts/setup.sh
Due: none

Path conditions:
  eslint --fix: any of: assets/js/**/*.js
  prettier --write: ((any of: assets/js/**/*.js) or (any of: assets/css/**/*.css)) or (any of: *.{json,yml,yaml})
  stylelint --fix: any of: assets/css/**/*.css
  markdownlint-cli2: any of: *.md
