Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

Update search database from comphy-search repository
  assets/js/search_db.json
Due: prettier --write

Add slash command to parse BibTeX and add research papers
  .claude/commands/add-paper.md
Due: markdownlint-cli2

Add recent publications and update news sections
  News.md
  _research/index.md
  history.md
Due: markdownlint-cli2

Update anonymous.svg to GitHub-style profile placeholder
  assets/images/team/anonymous.svg
Due: none

Add slash command for team member management
  .claude/commands/add-person.md
Due: markdownlint-cli2

Add Peter Croxford to Present Team
  _team/index.md
Due: markdownlint-cli2

Add Mark Boulogne to Present Team
  _team/index.md
  assets/images/team/7.png
Due: markdownlint-cli2

Update team member titles and affiliations
  _team/index.md
  assets/js/search_db.json
Due: prettier --write, markdownlint-cli2

Add Introduction to Soft Matter course to teaching page
  _teaching/index.md
  assets/images/teaching/soft-matter.svg
Due: markdownlint-cli2

Update author formatting directive to list all authors
  .claude/commands/add-paper.md
Due: markdownlint-cli2

Fix code style issues in slash commands and teaching.js
  .claude/commands/add-person.md
  assets/js/teaching.js
Due: eslint --fix, prettier --write, markdownlint-cli2

added two papers
  _research/index.md
Due: markdownlint-cli2

updated papers
  _research/index.md
Due: markdownlint-cli2

updated News and History
  News.md
  history.md
Due: markdownlint-cli2

Fix js-yaml security vulnerability (CVE-2025-64718)
  package-lock.json
  package.json
Due: prettier --write

Update publication details for Soft Matter paper [21]
  _research/index.md
Due: markdownlint-cli2

Add CLI options and help text to build and deploy scripts
  scripts/build.sh
  scripts/deploy.sh
Due: none
