Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, markdownlint-cli2

🔧 Implement lint-check script for CoMPhy Lab website
  scripts/lint-check.sh
Due: none

🎨 feat(command-palette): improve script loading order
  CLAUDE.md
  _layouts/history.html
  _layouts/teaching-course.html
  _layouts/teaching.html
  _layouts/team.html
  assets/js/command-data.js
  assets/js/command-palette.js
  assets/js/main.js
  assets/js/platform-utils.js
  assets/js/shortcut-key.js
  assets/js/teaching.js
  scripts/fix-js-line-length.sh
  scripts/fix-line-length.js
  scripts/fix-quotes.sh
  scripts/fix-script-order.sh
  scripts/lint-check.sh
Due: eslint --fix, prettier --write, markdownlint-cli2

✨ feat: Implement course sorting and improve command palette
  assets/js/command-data.js
  assets/js/command-palette.js
  assets/js/main.js
  assets/js/teaching.js
Due: eslint --fix, prettier --write

🔖 feat: Update research page with new publication details
  _research/index.md
Due: markdownlint-cli2

🔧 chore: Remove unused command palette script from history layout
  _layouts/history.html
Due: none

🔧 refactor: Move teaching.js script to separate file
  _layouts/teaching.html
  _layouts/team.html
  assets/js/teaching.js
Due: eslint --fix, prettier --write

added paper
  _research/index.md
Due: markdownlint-cli2

🐛 fix: Update markdown lint script to correctly ignore node_modules
  package.json
Due: prettier --write

🐛 fix: Add error handling to file write in fix-line-length.js
  scripts/fix-line-length.js
Due: none

🐛 fix: Add error handling to readFile function in fix-line-length.js
  scripts/fix-line-length.js
Due: none

🐛 fix: Remove reference to non-existent history.css file
  _layouts/history.html
Due: none

🐛 fix: Improve robustness and portability of fix-quotes.sh
  scripts/fix-quotes.sh
Due: none

🔧 feat: Integrate fix-quotes.sh functionality into lint-check.sh
  scripts/lint-check.sh
Due: none

🐛 fix: Fix quote handling in lint-check.sh and add --fix flag
  scripts/lint-check.sh
Due: none

🎨 style: Standardize quote usage in JavaScript files
  assets/js/command-data.js
  assets/js/command-palette.js
  assets/js/main.js
  assets/js/platform-utils.js
  assets/js/teaching.js
Due: eslint --fix, prettier --write

🐛 fix: Make fix-script-order.sh cross-platform compatible
  scripts/fix-script-order.sh
Due: none

🐛 fix: Make lint-check.sh cross-platform compatible with OS detection
  scripts/lint-check.sh
Due: none

fix build
  assets/js/teaching.js
Due: eslint --fix, prettier --write

🔧 feat: Ensure npm dependencies are installed during build process
  scripts/build.sh
Due: none

added details
  News.md
  _layouts/default.html
  _layouts/history.html
  _layouts/research.html
  _layouts/teaching-course.html
  _layouts/teaching.html
  _layouts/team.html
  assets/css/shared-news-history.css
  assets/images/research/NatComm-jet-drop.png
  assets/logos/Durham-University-white.png
  assets/logos/Durham-University_NoText.png
  history.md
Due: prettier --write, stylelint --fix, markdownlint-cli2

Path conditions:
  eslint --fix: any of: assets/js/**/*.js
  prettier --write: ((any of: assets/js/**/*.js) or (any of: assets/css/**/*.css)) or (any of: *.{json,yml,yaml})
  stylelint --fix: any of: assets/css/**/*.css
  markdownlint-cli2: any of: *.md
