Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

security(deps): bump nokogiri to >= 1.19.1 to resolve GHSA-wx95-c6cv-8532
  Gemfile
  Gemfile.lock
Due: none

style(teaching): apply prettier formatting for markdown-quality workflow
  _teaching/2025-Basilisk101-Madrid.md
  _teaching/2025-Basilisk101nano-ECS.md
Due: markdownlint-cli2

feat(profile): auto-sync org recent publications from research index
  .github/workflows/sync-org-profile-publications.yml
  _org_profile/README.md
  scripts/sync_org_profile_publications.py
Due: prettier --write, markdownlint-cli2

chore(ci): switch org profile sync to GitHub App token
  .github/workflows/sync-org-profile-publications.yml
Due: prettier --write

Fix org profile markdownlint spacing
  _org_profile/README.md
Due: markdownlint-cli2

Fix org profile sync app token scope
  .github/workflows/sync-org-profile-publications.yml
Due: prettier --write

Harden website maintenance guardrails
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/workflows/content-rules-checks.yml
  .github/workflows/jekyll.yml
  README.md
  scripts/check-content-rules-trigger-parity.py
  scripts/check-ruby-toolchain.sh
  scripts/deploy.sh
  scripts/setup.sh
  tests/fixtures/news-bullets/frontmatter-delimiters.md
  tests/fixtures/news-bullets/nested-indented-bullets.md
  tests/fixtures/news-bullets/special-announcement-block.md
  tests/news-bullet-regression.test.js
Due: prettier --write, markdownlint-cli2

Add maintenance regression checks
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/workflows/maintenance-regression-checks.yml
  tests/deploy-script-regression.sh
Due: prettier --write, markdownlint-cli2

Upgrade Jest to remove vulnerable jsdom dependency
  package-lock.json
  package.json
  tests/command-data-actual.test.js
  tests/teaching.test.js
Due: prettier --write

Address Copilot maintenance review comments
  README.md
  scripts/check-content-rules-trigger-parity.py
  scripts/setup.sh
Due: markdownlint-cli2

change to AGENTS.md
  AGENTS.md
Due: markdownlint-cli2

Add Jana et al. Soft Matter paper and cover news
  News.md
  _research/index.md
  assets/images/covers/2026-03-SoftMatter_Issue11_cover.jpeg
  assets/images/covers/2026-03-SoftMatter_Issue11_front-cover.pdf
Due: markdownlint-cli2

fix: align news list bullets to first line of wrapped citations
  assets/css/styles.css
Due: prettier --write

feat: typography, scroll-reveal, and markup cleanup
  _layouts/default.html
  assets/css/styles.css
  assets/js/utils.js
  index.html
Due: eslint --fix, prettier --write

minor font and cover fixes
  News.md
  _layouts/default.html
  _research/index.md
  assets/css/styles.css
  assets/images/covers/2026-03-SoftMatter_Issue11_cover.jpeg
  history.md
Due: prettier --write, markdownlint-cli2

Fix homepage reveal and featured embeds
  assets/js/main.js
  assets/js/utils.js
Due: eslint --fix, prettier --write

fix: add missing --port/--host arg validation smoke tests (closes #63)
  tests/deploy-script-regression.sh
Due: none

fix: harden validate-content-rules for missing files and bad headings (closes #64)
  scripts/validate-content-rules.sh
Due: none

fix: replace :contains() CSS selectors with class-based equivalents (closes #66)
  assets/css/command-palette.css
  assets/css/teaching.css
  assets/js/command-palette.js
Due: eslint --fix, prettier --write

fix: expand teaching markdown CI gate to cover assets/images/teaching/README.md (closes #67)
  .github/workflows/teaching-content-checks.yml
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

Path conditions:
  eslint --fix: any of: assets/js/**/*.js
  prettier --write: ((any of: assets/js/**/*.js) or (any of: assets/css/**/*.css)) or (any of: *.{json,yml,yaml})
  markdownlint-cli2: any of: *.md
