Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

fix: tighten docsHubRank coverage and restore double quotes
  tests/search-manager.test.js
Due: none

Register /projects/ in owned website paths.
  scripts/purge-website-cache.py
  tests/browser-security.test.py
  tests/purge-website-cache.test.py
Due: none

Add command-palette regression for /projects/ navigation.
  tests/command-data-actual.test.js
Due: none

Sort /projects/ titles case-insensitively.
  projects/index.md
Due: markdownlint-cli2

Align lint-check quote rule with the ESLint config
  scripts/lint-check.sh
Due: none

Drop the test and profile sites from the project docs catalogue
  _data/project-docs.yml
Due: prettier --write

Fix Self-similar Worthington jets GitHub link
  _research/index.md
Due: markdownlint-cli2

Restore dense scholarly GitHub org profile source template
  README.md
  _org_profile/README.md
Due: markdownlint-cli2

Bump markdown-it and js-yaml to close Dependabot alerts #73 and #74
  package-lock.json
  package.json
Due: prettier --write

Ignore org-profile README in markdownlint so lockfile PRs stay green
  .markdownlint-cli2.jsonc
Due: none

Mark Singularities in Soft Matter Systems as published in Contemporary Physics
  _org_profile/README.md
  _research/index.md
Due: markdownlint-cli2

Update org profile recent publications for Singularities paper
  _org_profile/README.md
Due: markdownlint-cli2

Mark Singularities in Soft Matter Systems as published in Contemporary Physics
  _research/index.md
Due: markdownlint-cli2

temp: upload research index content chunks for reassembly
  _tmp/research-index-chunks/0.md
Due: markdownlint-cli2

Add research index chunk 1
  _tmp/research-index-chunks/1.md
Due: markdownlint-cli2

Add research index chunk 2
  _tmp/research-index-chunks/2.md
Due: markdownlint-cli2

Add research index chunk 3
  _tmp/research-index-chunks/3.md
Due: markdownlint-cli2

Add research index chunk 4
  _tmp/research-index-chunks/4.md
Due: markdownlint-cli2

Add script to assemble research index from chunks
  scripts/assemble_index.py
Due: none

Mark Singularities in Soft Matter Systems as published in Contemporary Physics
  _research/index.md
  assets/images/research/singularities-soft-matter-visual-dictionary.png
Due: markdownlint-cli2

Replace singularities visual dictionary with exact local 81802-byte PNG
  assets/images/research/singularities-soft-matter-visual-dictionary.png
Due: none

Restore singularities visual dictionary PNG binary
  assets/images/research/singularities-soft-matter-visual-dictionary.png
Due: none

Remove scratch assemble_index.py from publication update
  scripts/assemble_index.py
Due: none

Remove scratch research-index chunk 0
  _tmp/research-index-chunks/0.md
Due: markdownlint-cli2

Remove scratch research-index chunk 1
  _tmp/research-index-chunks/1.md
Due: markdownlint-cli2

Remove scratch research-index chunk 2
  _tmp/research-index-chunks/2.md
Due: markdownlint-cli2

Remove scratch research-index chunk 3
  _tmp/research-index-chunks/3.md
Due: markdownlint-cli2

Remove scratch research-index chunk 4
  _tmp/research-index-chunks/4.md
Due: markdownlint-cli2

Mark Singularities in Soft Matter Systems as published in Contemporary Physics (#123)
  _org_profile/README.md
  _research/index.md
  assets/images/research/singularities-soft-matter-visual-dictionary.png
Due: markdownlint-cli2

Update Verschuur PRF paper to full citation with figure and video
  _data/news.yml
  _org_profile/README.md
  _research/index.md
  assets/css/research-v2.css
  assets/images/research/elasticity-bubble-pinch-off-poster.png
  assets/images/research/elasticity-bubble-pinch-off.png
  assets/videos/elasticity-bubble-pinch-off.mp4
Due: prettier --write, markdownlint-cli2
