Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

✨ remove email contact info to reduce clutter
  _teaching/2025-Basilisk101nano-ECS.md
Due: markdownlint-cli2

Update search database from comphy-search repository
  assets/js/search_db.json
Due: prettier --write

fixed team map
  _layouts/team.html
Due: none

remove gitbutler files
  .claude/settings.json
Due: prettier --write

dependable bot fixed
  Gemfile.lock
  assets/js/command-data.js
  assets/js/command-palette.js
  assets/js/main.js
  assets/js/platform-utils.js
  assets/js/search-manager.js
  assets/js/teaching.js
  assets/js/utils.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Fix ESLint violations and restore JavaScript files
  assets/js/command-data.js
  assets/js/command-palette.js
  assets/js/main.js
  assets/js/platform-utils.js
  assets/js/search-manager.js
  assets/js/teaching.js
  assets/js/utils.js
Due: eslint --fix, prettier --write

Update ESLint quote rule to allow avoiding escapes
  eslint.config.js
Due: none

Disable ESLint indent rule to prevent Prettier conflict
  eslint.config.js
Due: none

Add deploy.sh script for local development with smart port detection
  README.md
  scripts/deploy.sh
Due: markdownlint-cli2
