Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

plan done
  .claude/PLAN.md
Due: markdownlint-cli2

Remove duplicate content property in blockquote styles
  assets/css/vendor.css
Due: prettier --write

Add error handling for Utils dependency in main.js
  assets/js/main.js
Due: eslint --fix, prettier --write

Enhance platform detection and modal accessibility
  assets/js/utils.js
Due: eslint --fix, prettier --write

Update search database from comphy-search repository
  assets/js/search_db.json
Due: prettier --write

Include honorifics in Detlef Lohse name
  _team/index.md
Due: markdownlint-cli2

✨ docs: update title from Ph.D. Candidate to Ph.D. Student
  _team/index.md
Due: markdownlint-cli2

Update team profile to include current role
  _team/index.md
Due: markdownlint-cli2

chore(settings): add Claude hooks for PreToolUse and PostToolUse
  .claude/settings.json
Due: prettier --write

✨ teaching: add Basilisk multiphase flow course for ECS 2025
  _teaching/2025-Basilisk101nano-ECS.md
Due: markdownlint-cli2

Add Basilisk course card for ECS 2025
  _teaching/index.md
Due: markdownlint-cli2

Use Madrid images for ECS course and update images README
  _teaching/2025-Basilisk101nano-ECS.md
  _teaching/index.md
  assets/images/teaching/README.md
Due: markdownlint-cli2

Format links and refine setup details
  _teaching/2025-Basilisk101nano-ECS.md
Due: markdownlint-cli2

✨ docs: update registration link to ECS 2025 official site
  _teaching/2025-Basilisk101nano-ECS.md
Due: markdownlint-cli2

Fix formatting and whitespace in course markdown
  _teaching/2025-Basilisk101nano-ECS.md
Due: markdownlint-cli2

Improve email copy button accessibility and clipboard handling
  _teaching/2025-Basilisk101nano-ECS.md
Due: markdownlint-cli2

Improve email copy button: modern clipboard + fallback
  _teaching/2025-Basilisk101nano-ECS.md
Due: markdownlint-cli2

Restore copy-to-clipboard functionality for teaching page
  _teaching/2025-Basilisk101nano-ECS.md
Due: markdownlint-cli2

Enable shared copy-email and unify teaching email styles
  _layouts/teaching-course.html
  _teaching/2025-Basilisk101nano-ECS.md
  assets/css/teaching.css
Due: prettier --write, markdownlint-cli2

✨ docs: add initial draft for 2025 Basilisk101nano ECS teaching session
  _teaching/2025-Basilisk101nano-ECS.md
Due: markdownlint-cli2
