Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

Remove invalid trailing comma in link helper
  assets/js/command-data.js
Due: eslint --fix, prettier --write

Fix app token sync and patch npm deps
  .github/workflows/sync-org-profile-publications.yml
  package-lock.json
  package.json
Due: prettier --write

Upgrade GitHub Actions runtime versions
  .github/workflows/content-rules-checks.yml
  .github/workflows/jekyll.yml
  .github/workflows/maintenance-regression-checks.yml
  .github/workflows/pr-hygiene-check.yml
  .github/workflows/rebuild-on-search-update.yml
  .github/workflows/sync-org-profile-publications.yml
  .github/workflows/teaching-content-checks.yml
  .github/workflows/update-search.yml
  .github/workflows/weekly-tests.yml
Due: prettier --write

Force Pages workflows onto Node 24
  .github/workflows/jekyll.yml
  .github/workflows/rebuild-on-search-update.yml
Due: prettier --write

Use direct Pages artifact uploads
  .github/workflows/jekyll.yml
  .github/workflows/rebuild-on-search-update.yml
Due: prettier --write

feat: publish rheology of 2d dilute emulsions
  _research/index.md
Due: markdownlint-cli2

ci: cancel overlapping jekyll deploy runs
  .github/workflows/jekyll.yml
Due: prettier --write

chore: opt Pages deploy into Node 24
  .github/workflows/jekyll.yml
Due: prettier --write

docs: add wafer bonding project pdf
  assets/pdf-files/waferBonding.pdf
Due: none

pdf recompile
  assets/pdf-files/waferBonding.pdf
Due: none

update rendered pdf
  assets/pdf-files/waferBonding.pdf
Due: none

title now with line break
  assets/pdf-files/waferBonding.pdf
Due: none

paper tiles!
  assets/pdf-files/waferBonding.pdf
Due: none

adhesion vs capillary
  assets/pdf-files/adhesionVscapillarity.pdf
Due: none

fix: remove FRS from Detlef website profile
  _team/index.md
  assets/js/search_db.json
Due: prettier --write, markdownlint-cli2

fix: sync search index without FRS titles
  assets/js/search_db.json
Due: prettier --write

fix: correct Watchout typo and serve about.html at /about/
  about.html
  aboutCoMPhy.md
Due: markdownlint-cli2

coated landau
  assets/pdf-files/CoatedLandauLevich.pdf
Due: none

Add design tokens, bridge layer, and shared includes
  .claude/launch.json
  .gitignore
  .markdownlint-cli2.jsonc
  .prettierignore
  .stylelintrc.json
  _config.yml
  _includes/tokens-bridge.html
  _includes/tokens-head.html
  assets/css/bridge.css
  assets/css/tokens.css
Due: prettier --write

Replace dark-slab footer with paper-tint v2 footer
  _includes/footer-v2.html
  assets/css/footer-v2.css
Due: prettier --write

Wire fonts, tokens, and v2 footer into every layout
  _layouts/default.html
  _layouts/history.html
  _layouts/join-us.html
  _layouts/teaching-course.html
  _layouts/teaching.html
Due: none
