Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

Point all Durham links to staff profile
  News.md
  _layouts/default.html
  _layouts/history.html
  _layouts/research.html
  _layouts/teaching-course.html
  _layouts/teaching.html
  _layouts/team.html
  history.md
Due: markdownlint-cli2

Fix home page copy-email buttons by rebinding after dynamic Markdown load
  assets/js/main.js
Due: eslint --fix, prettier --write

Update PLAN.md with completed quick perf tasks and Durham link changes
  .claude/PLAN.md
Due: markdownlint-cli2

Update .gitignore and remove outdated cursor rules files
  .cursor/rules/css-style.mdc
  .cursor/rules/general-code-style.mdc
  .cursor/rules/html-markdown-style.mdc
  .cursor/rules/image-guidelines.mdc
  .cursor/rules/javascript-style.mdc
  .cursor/rules/project-structure.mdc
  .gitignore
Due: none

Exclude AI/dev config files from Jekyll build and watch
  .jekyllignore
  _config.yml
Due: prettier --write

Update search database from comphy-search repository
  assets/js/search_db.json
Due: prettier --write

Update nokogiri dependency to 1.18.9
  Gemfile
  Gemfile.lock
Due: none

Migrate Join Us page to Jekyll Markdown at _join-us/index.md using default layout and same permalink. Remove legacy join.html to avoid duplication and improve maintainability.
  _join-us/index.md
Due: markdownlint-cli2

Fix Jekyll output path: move page to join/index.md so /join/ builds correctly. Keep same layout and permalink.
  join/index.md
Due: markdownlint-cli2

Fix markdownlint issues: ensure blank lines around headings in _join-us/index.md. Page now fully Markdown-compliant.
  _join-us/index.md
Due: markdownlint-cli2

Add dedicated join-us layout that wraps Markdown in styled section and switch _join-us/index.md to use it for proper spacing, typography, and theming.
  _join-us/index.md
  _layouts/join-us.html
Due: markdownlint-cli2

Join page: add styled copy-to-clipboard email boxes using existing .email-container UI.
  _join-us/index.md
Due: markdownlint-cli2

Add envelope mailto icon next to copy button in email containers; style with .email-actions and .email-link for consistent UI. Apply on Join page.
  _join-us/index.md
  assets/css/styles.css
Due: prettier --write, markdownlint-cli2

Main page: add envelope mailto icon beside copy button for email containers in aboutCoMPhy.md to match Join page UI.
  aboutCoMPhy.md
Due: markdownlint-cli2

Join page: improve Markdown typography and spacing for headings, paragraphs, and lists; convert PhD checklist to numbered list and add explicit lead-in. This fixes the stacked left-aligned look.
  _join-us/index.md
  assets/css/styles.css
Due: prettier --write, markdownlint-cli2

Redesign Join Us page with structured sections and improved visual hierarchy
  _join-us/index.md
  _layouts/join-us.html
  assets/css/join-us.css
Due: prettier --write, markdownlint-cli2

Remove duplicate "Join Us" heading from Join page
  _join-us/index.md
Due: markdownlint-cli2

Organize research projects into thematic categories on Join page
  _join-us/index.md
  assets/css/join-us.css
Due: prettier --write, markdownlint-cli2

Join Us (Postdoc): clarify and list supported UK fellowships with links; invite early contact for planning strong applications.
  _join-us/index.md
Due: markdownlint-cli2
