Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

Reorganize news structure with year headings
  .claude/commands/add-news.md
  News.md
  history.md
Due: markdownlint-cli2

Update location to Durham University and remove duplicate email badge
  aboutCoMPhy.md
Due: markdownlint-cli2

Relocate command configs to .opencode
  .gitignore
  .opencode/commands/add-news.md
  .opencode/commands/add-paper.md
  .opencode/commands/add-person.md
Due: markdownlint-cli2

Validate deploy host/port options
  CLAUDE.md
  scripts/deploy.sh
Due: markdownlint-cli2

Update search database from comphy-search repository
  assets/js/search_db.json
Due: prettier --write

update search updater
  .github/workflows/update-search.yml
Due: prettier --write

updated search workflow
  .github/workflows/update-search.yml
Due: prettier --write

Use app token for search db pushes
  .github/workflows/update-search.yml
Due: prettier --write

update-search-bot
  .github/workflows/update-search.yml
Due: prettier --write

Set app bot author for search updates
  .github/workflows/update-search.yml
Due: prettier --write

updated bot
  .github/workflows/update-search.yml
Due: prettier --write

Fix test setup and lint config
  .github/PULL_REQUEST_TEMPLATE/default.md
  .markdownlint-cli2.jsonc
  assets/css/join-us.css
  assets/css/teaching.css
  assets/images/teaching/README.md
  eslint.config.js
  package.json
  tests/command-data.test.js
  tests/setup.js
  tests/setup.test.js
Due: prettier --write, markdownlint-cli2

Harden deploy script argument and dependency checks
  scripts/deploy.sh
Due: none

Add teaching markdown quality workflow
  .github/workflows/teaching-content-checks.yml
Due: prettier --write

Normalize layout script loading order
  _layouts/history.html
  _layouts/research.html
  _layouts/teaching.html
  _layouts/team.html
Due: none

Migrate research tag selectors to class-based markup
  _layouts/research.html
  _research/index.md
  assets/css/research.css
  assets/css/styles.css
  assets/js/command-data.js
  assets/js/main.js
  scripts/generate_filtered_research.rb
Due: eslint --fix, prettier --write, markdownlint-cli2

Enforce history and research content rules
  .github/workflows/content-rules-checks.yml
  .opencode/commands/add-news.md
  CLAUDE.md
  README.md
  scripts/validate-content-rules.sh
Due: prettier --write, markdownlint-cli2

update 8 Feb 2026 at 13:48
  .github/workflows/content-rules-checks.yml
  .opencode/commands/add-paper.md
  _layouts/teaching.html
  scripts/deploy.sh
  scripts/validate-content-rules.sh
Due: prettier --write, markdownlint-cli2

content validation rules
  scripts/validate-content-rules.sh
Due: none

Path conditions:
  eslint --fix: any of: assets/js/**/*.js
  prettier --write: ((any of: assets/js/**/*.js) or (any of: assets/css/**/*.css)) or (any of: *.{json,yml,yaml})
  markdownlint-cli2: any of: *.md
