Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

update 8 Feb 2026 at 14:27
  scripts/validate-content-rules.sh
Due: none

updated context validation
  scripts/validate-content-rules.sh
Due: none

Load utils.js before command palette in research layout
  _layouts/research.html
Due: none

updated workflow
  .github/workflows/content-rules-checks.yml
Due: prettier --write

Remove conflicting paths-ignore from content-rules workflow
  .github/workflows/content-rules-checks.yml
Due: prettier --write

updated local build
  scripts/build.sh
Due: none

codex
  .agents/commands/add-news.md
  .agents/commands/add-paper.md
  .agents/commands/add-person.md
Due: markdownlint-cli2

feat: add paper [22] — Holes in Sheets (PRL 2026), remove preprint from Work in Progress
  _research/index.md
Due: markdownlint-cli2

2026-02-24
  .agents/commands/add-news.md
  .agents/commands/add-paper.md
  .agents/commands/add-person.md
  .agents/skills/add-news/SKILL.md
  .agents/skills/add-paper/SKILL.md
  .agents/skills/add-person/SKILL.md
  News.md
  history.md
Due: markdownlint-cli2

feat: add news entry — Holes in Sheets, PRL 136 084001 (2026)
  News.md
Due: markdownlint-cli2

feat: add Holes in Sheets to news + history, trim to 5-item limit
  News.md
  history.md
Due: markdownlint-cli2

fix: restore News.md to 9-item limit (add Sep–Jun 2025 items)
  News.md
Due: markdownlint-cli2

feat: add Stood-up Drop as Featured paper; add Superamphiphobic-surfaces tag
  _research/index.md
Due: markdownlint-cli2

fix: mark PRL [22] and Soft Matter [21] as Subscription (not OA)
  _research/index.md
Due: markdownlint-cli2

now enough space
  News.md
Due: markdownlint-cli2

fix: update CI paths for renamed .opencode/commands → .agents/skills
  scripts/validate-content-rules.sh
Due: none

fix(research): update journal badges for publications [15], [21], [22]
  _research/index.md
Due: markdownlint-cli2

fix(markdownlint): resolve weekly test lint failures
  .agents/skills/add-news/SKILL.md
  News.md
  _research/index.md
  history.md
Due: markdownlint-cli2

docs(add-news): clarify regular bullet matcher as dash+space
  .agents/skills/add-news/SKILL.md
Due: markdownlint-cli2
