Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

Update team page: Fix co-advised phrasing and abbreviate institution names
  _team/index.md
Due: markdownlint-cli2

Clean up collaborator titles and fix spacing issues
  _team/index.md
Due: markdownlint-cli2

Fix date range line breaking with proper CSS approach
  assets/css/team.css
Due: prettier --write

Standardize team page formatting and fix typos
  _team/index.md
Due: markdownlint-cli2

Update search database from comphy-search repository
  assets/js/search_db.json
Due: prettier --write

Update graduation details for Jnandeep Talukdar in News.md to reflect Cum Laude distinction from University of Twente.
  News.md
Due: markdownlint-cli2

Update graduation details for Jnandeep Talukdar in history.md to specify Cum Laude distinction from University of Twente.
  history.md
Due: markdownlint-cli2

Update PDF links in research index to new Dropbox URLs for improved accessibility
  _research/index.md
Due: markdownlint-cli2

Add Saumili Jana's best master's thesis award to news
  .claude/PLAN.md
  News.md
  history.md
Due: markdownlint-cli2

Fix CSS linting issues for weekly tests
  .stylelintrc.json
  assets/css/command-palette.css
  assets/css/research.css
  assets/css/shared-news-history.css
  assets/css/styles.css
  assets/css/teaching.css
  assets/css/team.css
  assets/css/vendor.css
Due: prettier --write

Update PLAN.md to reflect completed tasks
  .claude/PLAN.md
Due: markdownlint-cli2

Update contact email addresses across the website
  _teaching/2025-Basilisk101-Madrid.md
  aboutCoMPhy.md
  join.html
Due: markdownlint-cli2

Fix markdown heading level increments and optimize JavaScript
  assets/js/main.js
Due: eslint --fix, prettier --write

Fix markdown heading issues and optimize JavaScript
  .markdownlint.json
  _research/index.md
Due: prettier --write, markdownlint-cli2

Optimize image loading and link security (quick perf pass)
  News.md
  _layouts/default.html
  _layouts/history.html
  _layouts/research.html
  _layouts/teaching-course.html
  _layouts/teaching.html
  _layouts/team.html
  aboutCoMPhy.md
  history.md
  join.html
Due: markdownlint-cli2
