Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

Fix PR review regressions
  .agents/skills/add-news/SKILL.md
  AGENTS.md
  CLAUDE.md
  _data/research_themes.yml
  _layouts/research.html
  _team/index.md
  about.html
  assets/css/home.css
  assets/css/research-v2.css
  assets/css/team-v2.css
  assets/js/command-data.js
  assets/js/main.js
  assets/js/search-manager.js
  assets/js/search_db.json
  assets/js/teaching.js
  index.html
Due: eslint --fix, prettier --write, markdownlint-cli2

Address PR #86 review: 4 fixes
  assets/css/bridge.css
  assets/css/home.css
  index.html
Due: prettier --write

tc image
  assets/images/research/taylor-culick.jpg
Due: none

Scrub website copy
  News.md
  _data/hero.yml
  _data/news.yml
  _data/research_themes.yml
  _join-us/index.md
  _layouts/research.html
  _research/index.md
  _teaching/2025-Basilisk101-Madrid.md
  _teaching/2025-Basilisk101nano-ECS.md
  _teaching/index.md
  _team/index.md
  assets/js/search_db.json
  history.md
  index.html
  news/index.md
Due: prettier --write, markdownlint-cli2

Tighten research preview copy
  index.html
Due: none

Refine site copy and footer credits
  _data/hero.yml
  _data/research_themes.yml
  _includes/footer-v2.html
  _join-us/index.md
  assets/js/search_db.json
Due: prettier --write, markdownlint-cli2

Restore ghost button borders
  assets/css/bridge.css
Due: prettier --write

Bring teaching pages onto v2 shell
  _layouts/default.html
  _layouts/teaching-course.html
  _layouts/teaching.html
  _teaching/2025-Basilisk101-Madrid.md
  _teaching/2025-Basilisk101nano-ECS.md
  _teaching/index.md
  assets/css/teaching.css
  assets/js/search_db.json
Due: prettier --write, markdownlint-cli2

Drop repo-local .agents/ skills mirror
  .agents/skills/add-news/SKILL.md
  .agents/skills/add-paper/SKILL.md
  .agents/skills/add-person/SKILL.md
Due: markdownlint-cli2

Drop .agents/ skills checks from content validator
  scripts/validate-content-rules.sh
Due: none

Drop .agents/ paths from content-rules workflow triggers
  .github/workflows/content-rules-checks.yml
Due: prettier --write

Address Copilot review: footer scheme, team-v2 comment
  _includes/footer-v2.html
  assets/css/team-v2.css
Due: prettier --write

Fix news archive: talk-item layout, YAML title entity
  news/index.md
Due: markdownlint-cli2

Make /about/ resolve via Jekyll permalink redirect
  about.html
Due: none

Drop misplaced head tags from about.html redirect
  about.html
Due: none

Drop loadAboutContent and aboutCoMPhy.md references
  README.md
  assets/js/main.js
  tests/featured-papers-regression.test.js
Due: eslint --fix, prettier --write, markdownlint-cli2

Refresh docs for v2 design system reality
  AGENTS.md
  CLAUDE.md
  README.md
Due: markdownlint-cli2

Fix MD038 in AGENTS.md /add-news rules
  AGENTS.md
Due: markdownlint-cli2

Bump addressable to 2.9.0 (CVE-2026-35611, GHSA #32)
  Gemfile.lock
Due: none

Pad table separator rows for markdownlint MD060
  _org_profile/README.md
  fix-summary.md
Due: markdownlint-cli2

Make Highlights readable in dark mode
  assets/css/research-v2.css
Due: prettier --write

Path conditions:
  eslint --fix: any of: assets/js/**/*.js
  prettier --write: ((any of: assets/js/**/*.js) or (any of: assets/css/**/*.css)) or (any of: *.{json,yml,yaml})
  markdownlint-cli2: any of: *.md
