Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

Dark-mode audit pass: softer paper, lifted gradient, selector fix
  assets/css/bridge.css
Due: prettier --write

Tighten hero-to-Currently gap — remove dead zone
  assets/css/home.css
Due: prettier --write

Move Peter Croxford from present team to alumni (MPhys 2026)
  _data/team.yml
Due: prettier --write

Restore full collaborator list (24) and drop photos for collaborators/alumni
  _data/team.yml
  assets/css/team-v2.css
Due: prettier --write

Restore alumni thesis links + 5 missing alumni
  _data/team.yml
  _team/index.md
  assets/css/team-v2.css
Due: prettier --write, markdownlint-cli2

Bump footer partner logos from 32 px to 48 px height
  assets/css/footer-v2.css
Due: prettier --write

Theme-specific Durham logo, drop Basilisk white-card wrapper
  _includes/footer-v2.html
  assets/css/footer-v2.css
Due: prettier --write

Bigger footer partner logos (72 px) + CoMPhy mark (56 px)
  assets/css/footer-v2.css
Due: prettier --write

Drop About nav + about.html + aboutCoMPhy.md; move Open Science to /join
  _join-us/index.md
  _layouts/default.html
  _layouts/history.html
  _layouts/join-us.html
  _layouts/teaching-course.html
  _layouts/teaching.html
  _layouts/team.html
  about.html
  aboutCoMPhy.md
  assets/logos/Durham-University.png
Due: markdownlint-cli2

Swap sitewide h1–h6 from Cormorant display to Fraunces serif
  assets/css/bridge.css
Due: prettier --write

Italics audit: upright hero citation, italic only on journal
  _data/hero.yml
  assets/css/home.css
  index.html
Due: prettier --write

Tighten hero top padding from 64 px to 24 px clearance
  assets/css/home.css
Due: prettier --write

Rename closing CTA from 'Open positions' to 'Current opportunities'
  index.html
Due: none

Wire 5 new paper thumbnails into the news feed
  _data/news.yml
  assets/images/research/bouncing-microdrops.png
  assets/images/research/holey-sheets.png
  assets/images/research/integral-surface-tension.jpg
  assets/images/research/jumping-bubbles.png
  assets/images/research/stood-up-drops.png
Due: prettier --write

Footer: News & talks links to /news/ archive, not the homepage anchor
  _includes/footer-v2.html
Due: none

Team: add Voïtchovsky + Bromley, drop count, unclamp alumni bios
  _data/team.yml
  _team/index.md
  assets/css/team-v2.css
Due: prettier --write, markdownlint-cli2

Restore team world map (legacy /team feature, restyled to v2)
  _team/index.md
  assets/css/team-v2.css
Due: prettier --write, markdownlint-cli2

Map legend: 'Conferences we've attended (no talk)' → 'Places we've visited (no talk)'
  _team/index.md
Due: markdownlint-cli2

Closing CTA: include postdoc in 'Looking for a … position?' line
  index.html
Due: none

Re-optimise holey-sheets.png (943 → 376 kB)
  assets/images/research/holey-sheets.png
Due: none

Fix PR review regressions
  .agents/skills/add-news/SKILL.md
  AGENTS.md
  CLAUDE.md
  _data/research_themes.yml
  _layouts/research.html
  _team/index.md
  about.html
  assets/css/home.css
  assets/css/research-v2.css
  assets/css/team-v2.css
  assets/js/command-data.js
  assets/js/main.js
  assets/js/search-manager.js
  assets/js/search_db.json
  assets/js/teaching.js
  index.html
Due: eslint --fix, prettier --write, markdownlint-cli2

Path conditions:
  eslint --fix: any of: assets/js/**/*.js
  prettier --write: ((any of: assets/js/**/*.js) or (any of: assets/css/**/*.css)) or (any of: *.{json,yml,yaml})
  markdownlint-cli2: any of: *.md
