Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

feat(setup): install Git hooks for pre-commit checks
  CLAUDE.md
  README.md
  scripts/setup.sh
Due: markdownlint-cli2

feat(smooth-scrolling): Handle both "#section" and "/#section" formats
  assets/js/main.js
Due: eslint --fix, prettier --write

Update search database from comphy-search repository
  assets/js/search_db.json
Due: prettier --write

Add Jnandeep Talukdar graduation news (June 2025)
  News.md
  history.md
Due: markdownlint-cli2

Update CLAUDE.md documentation structure
  CLAUDE.md
Due: markdownlint-cli2

Remove Windsurf configuration files
  .claude/commands/add-news.md
  .windsurf/rules/css-style.md
  .windsurf/rules/general-code-style.md
  .windsurf/rules/html-markdown-style.md
  .windsurf/rules/image-guidelines.md
  .windsurf/rules/javascript-style.md
  .windsurf/rules/project-structure.md
  _research/index.md
Due: markdownlint-cli2

Clarify file creation policy for developer docs vs site content
  CLAUDE.md
Due: markdownlint-cli2

Add News subsection to Content Management in CLAUDE.md
  CLAUDE.md
Due: markdownlint-cli2

Update team member titles with proper academic designations
  _team/index.md
Due: markdownlint-cli2

removed thesis as redundant word, added Jnan and Saumili as PhD students
  _team/index.md
Due: markdownlint-cli2

Add styled role descriptions with slightly larger font for team members
  _team/index.md
Due: markdownlint-cli2

Update team page: Use 'Joint supervision with' for formal academic style
  _team/index.md
Due: markdownlint-cli2

Reduce horizontal padding in team member cards for better content fit
  assets/css/team.css
Due: prettier --write

Add thesis links for Jnandeep Talukdar and Saumili Jana
  _team/index.md
Due: markdownlint-cli2

Increase team card width and adjust padding for better layout
  assets/css/team.css
Due: prettier --write

Use non-breaking hyphens for date ranges to prevent line breaks
  _team/index.md
  assets/css/team.css
Due: prettier --write, markdownlint-cli2

Reduce team card padding for better content fit
  assets/css/team.css
Due: prettier --write

Path conditions:
  eslint --fix: any of: assets/js/**/*.js
  prettier --write: ((any of: assets/js/**/*.js) or (any of: assets/css/**/*.css)) or (any of: *.{json,yml,yaml})
  markdownlint-cli2: any of: *.md
