Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

Join Us (Postdoc): add Academic Transfer and EURAXESS links to advertise openings consistently.
  _join-us/index.md
Due: markdownlint-cli2

Join Us: improve header icon contrast in light theme by adding subtle ring and ensuring glyph respects color; keep dark theme unchanged.
  assets/css/join-us.css
Due: prettier --write

Join Us: significantly increase light-theme icon contrast — enforce background colors, add 2px outline ring and soft shadow, and ensure glyph stays bright; minor cleanup.
  assets/css/join-us.css
Due: prettier --write

Join Us: switch to high-contrast light theme icons (white chip + colored border/glyph) so they remain clearly visible on white backgrounds.
  assets/css/join-us.css
Due: prettier --write

Join Us: fix light theme icon glyph color to inherit accent (was forcing near-white glyph making icon appear white).
  assets/css/join-us.css
Due: prettier --write

Join Us: implement requested icon style — light: off-white chip, no ring, glyph inherits section accent; dark: white chip, no ring, glyph inherits accent. Remove previous rings/border overrides.
  assets/css/join-us.css
Due: prettier --write

Join Us: remove icon chip/ring entirely; show just the colored Font Awesome icon in both themes, inheriting section accent.
  assets/css/join-us.css
Due: prettier --write

Join Us (Internships): add note/link about Commonwealth Split-site PhD Scholarships enabling eligible candidates to spend 1 year at CoMPhy Lab.
  _join-us/index.md
Due: markdownlint-cli2

Join Us: increase .projects-intro font size to better match project-card text (1.6rem desktop, 1.3rem mobile).
  assets/css/join-us.css
Due: prettier --write

Join Us (PhD): add concise CMP-focused admissions and funding section with official links and a short timeline.
  _join-us/index.md
Due: markdownlint-cli2

Join Us (PhD): integrate concise CMP admissions/funding notes into existing PhD Positions section; remove duplicate standalone block.
  _join-us/index.md
Due: markdownlint-cli2

Join Us (PhD): tailor CMP admissions/funding bullets for CoMPhy — add first-contact guidance and clarify timeline.
  _join-us/index.md
Due: markdownlint-cli2

Streamline PhD application process and refine position descriptions
  _join-us/index.md
Due: markdownlint-cli2

Refactor join-us.css: remove padding from project category and eliminate unnecessary pseudo-element styling
  assets/css/join-us.css
Due: prettier --write

Add shared utility modules to eliminate JavaScript redundancy
  assets/js/search-manager.js
  assets/js/utils.js
Due: eslint --fix, prettier --write

Remove redundant shortcut-key.js and its test file
  assets/js/shortcut-key.js
  tests/shortcut-key.test.js
Due: eslint --fix, prettier --write

Refactor core JavaScript files to use shared modules
  assets/js/command-data.js
  assets/js/command-palette.js
  assets/js/main.js
Due: eslint --fix, prettier --write

Update platform-utils.js to delegate to shared utilities
  assets/js/platform-utils.js
Due: eslint --fix, prettier --write

Update HTML layouts to include new utility modules
  _layouts/default.html
  _layouts/join-us.html
  _layouts/team.html
Due: none

Update planning documentation after JavaScript optimization
  .claude/PLAN.md
Due: markdownlint-cli2
