Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

fix: guard against stale async search results in command palette (closes #68)
  assets/js/command-palette.js
  tests/command-palette-stale-search.test.js
Due: eslint --fix, prettier --write

chore: add fix-summary.md with per-issue changes and test results
  fix-summary.md
Due: markdownlint-cli2

update email ids
  _join-us/index.md
  _layouts/teaching-course.html
  _teaching/2025-Basilisk101-Madrid.md
  _teaching/2025-Basilisk101nano-ECS.md
  aboutCoMPhy.md
  assets/js/command-palette.js
Due: eslint --fix, prettier --write, markdownlint-cli2

fix: bump flatted to 3.4.2 via overrides (CVE-2026-33228, closes #closes-dependabot-24)
  package-lock.json
  package.json
Due: prettier --write

ci: expand weekly workflow, add utils.js tests, enforce PR hygiene
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/workflows/pr-hygiene-check.yml
  .github/workflows/weekly-tests.yml
  tests/utils.test.js
Due: prettier --write, markdownlint-cli2

fix: keep iframe-only featured paper media on homepage
  assets/js/main.js
  tests/featured-papers-regression.test.js
Due: eslint --fix, prettier --write

fix: repair pr-hygiene-check grep/pipefail, tighten body-scan scope, fix markdownlint gating
  .github/workflows/pr-hygiene-check.yml
  .github/workflows/weekly-tests.yml
Due: prettier --write

fix: ignore badge images in featured media scan
  assets/js/main.js
Due: eslint --fix, prettier --write

fix(ci): satisfy weekly lint checks
  assets/css/styles.css
  assets/js/utils.js
Due: eslint --fix, prettier --write

Filter internal search backlog entries
  assets/js/search-manager.js
  tests/search-manager.test.js
Due: eslint --fix, prettier --write

Fix search sanitization false positives
  assets/js/search-manager.js
  tests/search-manager.test.js
Due: eslint --fix, prettier --write

update alumni entries on team page
  _team/index.md
Due: markdownlint-cli2

fix alumni degree labels for Floris and Mark
  _team/index.md
Due: markdownlint-cli2

Pin create-github-app-token action to commit SHA
  .github/workflows/update-search.yml
Due: prettier --write

Render command palette text safely
  assets/js/command-palette.js
  tests/command-palette-stale-search.test.js
Due: eslint --fix, prettier --write

Pin Font Awesome stylesheet loading
  _layouts/default.html
  _layouts/history.html
  _layouts/join-us.html
  _layouts/research.html
  _layouts/teaching-course.html
  _layouts/teaching.html
  _layouts/team.html
Due: none

Harden featured homepage embeds
  assets/js/main.js
  tests/featured-papers-regression.test.js
Due: eslint --fix, prettier --write

Harden setup and SEO build inputs
  .github/workflows/sync-org-profile-publications.yml
  scripts/generate_seo_tags.rb
  scripts/setup.sh
Due: prettier --write

Tighten iframe and Ruby setup safeguards
  assets/js/main.js
  scripts/setup.sh
  tests/featured-papers-regression.test.js
Due: eslint --fix, prettier --write

Close remaining client-side hardening gaps
  _layouts/research.html
  _research/index.md
  assets/js/command-data.js
  scripts/fix-quotes.sh
  tests/command-data-actual.test.js
Due: eslint --fix, prettier --write, markdownlint-cli2
