Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "assets/js/**/*.js": ["eslint --fix", "prettier --write"],
  "assets/css/**/*.css": ["prettier --write"],
  "*.md": ["markdownlint-cli2"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

Guard missing clipboard helper (#102)
  assets/js/contact-card.js
Due: eslint --fix, prettier --write

Feature Worthington jets video on homepage
  _data/hero.yml
  _research/index.md
  assets/css/research-v2.css
  index.html
Due: prettier --write, markdownlint-cli2

Feature Worthington jets video on homepage (#103)
  _data/hero.yml
  _research/index.md
  assets/css/research-v2.css
  index.html
Due: prettier --write, markdownlint-cli2

Bump nokogiri, markdown-it, js-yaml, babel to patched versions
  Gemfile.lock
  package-lock.json
  package.json
Due: prettier --write

Bump nokogiri, markdown-it, js-yaml, babel to patched versions (#104)
  Gemfile.lock
  package-lock.json
  package.json
Due: prettier --write

feat: add news — Editors' Suggestion
  _data/news.yml
Due: prettier --write

Harden site build and search boundaries
  .github/workflows/jekyll.yml
  .github/workflows/rebuild-on-search-update.yml
  .github/workflows/teaching-content-checks.yml
  .jekyllignore
  .ruby-version
  CNAME
  Gemfile
  Gemfile.lock
  README.md
  _config.yml
  _layouts/default.html
  _layouts/history.html
  _layouts/join-us.html
  _layouts/team.html
  about-legacy.html
  assets/css/join-us.css
  assets/css/research.css
  assets/css/styles.css
  assets/js/main.js
  assets/js/search-manager.js
  eslint.config.js
  package-lock.json
  package.json
  scripts/fix-line-length.js
  scripts/generate_seo_tags.rb
  scripts/lint-check.sh
  scripts/setup.sh
  tests/fix-line-length-actual.test.js
  tests/search-manager.test.js
Due: eslint --fix, prettier --write, markdownlint-cli2

Declare Ruby 3.4 standard library gems
  Gemfile
  Gemfile.lock
Due: none

Fix Pages artifact packaging path
  .github/workflows/jekyll.yml
  .github/workflows/rebuild-on-search-update.yml
Due: prettier --write

Harden site build and search boundaries (#105)
  .github/workflows/jekyll.yml
  .github/workflows/rebuild-on-search-update.yml
  .github/workflows/teaching-content-checks.yml
  .jekyllignore
  .ruby-version
  CNAME
  Gemfile
  Gemfile.lock
  README.md
  _config.yml
  _layouts/default.html
  _layouts/history.html
  _layouts/join-us.html
  _layouts/team.html
  about-legacy.html
  assets/css/join-us.css
  assets/css/research.css
  assets/css/styles.css
  assets/js/main.js
  assets/js/search-manager.js
  eslint.config.js
  package-lock.json
  package.json
  scripts/fix-line-length.js
  scripts/generate_seo_tags.rb
  scripts/lint-check.sh
  scripts/setup.sh
  tests/fix-line-length-actual.test.js
  tests/search-manager.test.js
Due: eslint --fix, prettier --write, markdownlint-cli2

Bump dev deps and tighten overrides for security advisories
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Fix teaching markdown CI
  .github/workflows/maintenance-regression-checks.yml
  .github/workflows/teaching-content-checks.yml
  .github/workflows/weekly-tests.yml
  _teaching/index.md
Due: prettier --write, markdownlint-cli2

Bump dev deps and tighten overrides for security advisories (#106)
  .github/workflows/maintenance-regression-checks.yml
  .github/workflows/teaching-content-checks.yml
  .github/workflows/weekly-tests.yml
  _teaching/index.md
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, markdownlint-cli2

Add shallow-liquid bubble-bursting preprint
  _research/index.md
Due: markdownlint-cli2

Add accepted Contemporary Physics review
  _research/index.md
Due: markdownlint-cli2

security: bump fast-uri to 3.1.5 (CVE-2026-18446)
  package-lock.json
  package.json
Due: prettier --write

lint: fix MD049 emphasis style in _research/index.md
  _research/index.md
Due: markdownlint-cli2

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

Patch vulnerable development dependencies
  eslint.config.js
  package-lock.json
  package.json
  tests/fast-uri-security.test.js
Due: prettier --write

Resolve website security review findings
  .github/workflows/jekyll.yml
  README.md
  assets/js/page-home.js
  assets/js/page-team-legacy.js
  assets/js/page-team-map.js
  assets/js/theme-init.js
  eslint.config.js
  package-lock.json
  package.json
  scripts/generate_filtered_research.rb
  tests/fast-uri-security.test.js
  tests/page-script-behavior.test.js
  tests/page-scripts-csp.test.js
  tests/research-tag-collision.test.rb
Due: eslint --fix, prettier --write, markdownlint-cli2

Include security contact in the Pages artifact
  .github/workflows/jekyll.yml
Due: prettier --write

Preserve the security contact directory in Pages
  .github/workflows/jekyll.yml
Due: prettier --write

Fix video embed for paper 6
  _research/index.md
Due: markdownlint-cli2

Fix stale website links
  _join-us/index.md
  _layouts/history.html
  _layouts/team.html
  _research/index.md
Due: markdownlint-cli2

Bump smol-toml to 1.7.2 for Dependabot alert #71
  package-lock.json
  package.json
Due: prettier --write

Self-host CoMPhy brand webfonts and drop Google Fonts CDN
  README.md
  _includes/tokens-head.html
  _layouts/default.html
  assets/fonts/OFL.txt
  assets/fonts/cormorant-garamond-italic-500-latin-ext.woff2
  assets/fonts/cormorant-garamond-italic-500-latin.woff2
  assets/fonts/cormorant-garamond-normal-600-latin-ext.woff2
  assets/fonts/cormorant-garamond-normal-600-latin.woff2
  assets/fonts/fonts.css
  assets/fonts/fraunces-normal-600-latin-ext.woff2
  assets/fonts/fraunces-normal-600-latin.woff2
  assets/fonts/ibm-plex-mono-normal-400-latin-ext.woff2
  assets/fonts/ibm-plex-mono-normal-400-latin.woff2
  assets/fonts/ibm-plex-sans-normal-400-latin-ext.woff2
  assets/fonts/ibm-plex-sans-normal-400-latin.woff2
  assets/fonts/ibm-plex-sans-normal-500-latin-ext.woff2
  assets/fonts/ibm-plex-sans-normal-500-latin.woff2
  assets/fonts/ibm-plex-sans-normal-600-latin-ext.woff2
  assets/fonts/ibm-plex-sans-normal-600-latin.woff2
  security/response-headers.json
Due: prettier --write, markdownlint-cli2

Quote fonts.css url() args for Stylelint function-url-quotes
  assets/fonts/fonts.css
Due: none

Replace duplicate IBM Plex Sans 500/600 faces with real weights
  assets/fonts/ibm-plex-sans-normal-500-latin-ext.woff2
  assets/fonts/ibm-plex-sans-normal-500-latin.woff2
  assets/fonts/ibm-plex-sans-normal-600-latin-ext.woff2
  assets/fonts/ibm-plex-sans-normal-600-latin.woff2
Due: none

Add durable Cloudflare response-header sync path
  .github/workflows/jekyll.yml
  .github/workflows/sync-cloudflare-security-headers.yml
  README.md
  scripts/sync-cloudflare-security-headers.py
  tests/sync-cloudflare-security-headers.test.py
Due: prettier --write, markdownlint-cli2

Harden CF header sync against non-main and fuzzy rule match
  .github/workflows/sync-cloudflare-security-headers.yml
  scripts/sync-cloudflare-security-headers.py
  tests/sync-cloudflare-security-headers.test.py
Due: prettier --write

Tighten CF rule match and serialize header-sync runs
  .github/workflows/sync-cloudflare-security-headers.yml
  scripts/sync-cloudflare-security-headers.py
  tests/sync-cloudflare-security-headers.test.py
Due: prettier --write

Deduplicate layout scripts and enforce JS load order
  .github/workflows/jekyll.yml
  _includes/site-scripts.html
  _layouts/default.html
  _layouts/history.html
  _layouts/join-us.html
  _layouts/team.html
  scripts/check-script-includes.sh
  scripts/lint-check.sh
  tests/check-script-includes-regression.sh
Due: prettier --write

Add /projects/ index of live CoMPhy project documentation sites.
  _data/project-docs.yml
  _includes/footer-v2.html
  _layouts/default.html
  _layouts/history.html
  _layouts/join-us.html
  _layouts/team.html
  assets/css/projects-v2.css
  assets/js/command-data.js
  projects/index.md
Due: eslint --fix, prettier --write, markdownlint-cli2

Add Priority 1 Jest coverage for palette, search, and theme
  tests/command-palette.test.js
  tests/search-manager-fuse.test.js
  tests/theme-init.test.js
Due: none

Harden script-include CI coverage
  scripts/check-script-includes.sh
  tests/check-script-includes-regression.sh
Due: none

Boost project doc pages in command-palette search ranking
  assets/js/search-manager.js
  tests/search-manager.test.js
Due: eslint --fix, prettier --write

Harden Priority 1 Jest isolation and assertion fidelity
  tests/command-palette.test.js
  tests/search-manager-fuse.test.js
  tests/theme-init.test.js
Due: none

Tighten script-include CI matching and nested coverage
  scripts/check-script-includes.sh
  tests/check-script-includes-regression.sh
Due: none
