Repository comphy-lab/comphy-lab.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

Fix internships callout contrast in dark mode on /join
  assets/css/join-us.css
Due: prettier --write

Make footer partner logos monochrome in both themes
  _includes/footer-v2.html
  assets/css/footer-v2.css
Due: prettier --write

Stop research DOI badges from widening the mobile viewport
  assets/css/research-v2.css
Due: prettier --write

Invert greyscale Basilisk in dark mode for contrast
  _includes/footer-v2.html
  assets/css/footer-v2.css
Due: prettier --write

Drop horizontal badge margins so DOI images fit their column
  assets/css/research-v2.css
Due: prettier --write

Rebuild /join project and position cards on design-system components
  _join-us/index.md
  assets/css/join-us.css
Due: prettier --write, markdownlint-cli2

Fix internships callout contrast in dark mode on /join (#125)
  assets/css/join-us.css
Due: prettier --write

Rebuild /join project and position cards on design-system components (#128)
  _join-us/index.md
  assets/css/join-us.css
Due: prettier --write, markdownlint-cli2

Stop research DOI badges from widening the mobile viewport (#127)
  assets/css/research-v2.css
Due: prettier --write

Stop dark-mode link colour from overriding classed buttons
  assets/css/tokens.css
Due: prettier --write

Fix Update Search Database push races on concurrent main merges
  .github/workflows/update-search.yml
Due: prettier --write

Fix Update Search Database push races on concurrent main merges (#130)
  .github/workflows/update-search.yml
Due: prettier --write

Replace Dropbox hero video with lightweight JMBC still
  _data/hero.yml
  assets/css/home.css
  index.html
Due: prettier --write

Fix mobile still captions so text zoom does not clip
  assets/css/home.css
Due: prettier --write

Fix hero carousel layout jumps and caption clipping
  assets/css/home.css
Due: prettier --write

Remove Dropbox origins from CSP media-src
  security/response-headers.json
  tests/browser-security.test.py
Due: prettier --write

Stop dark-mode link colour from overriding classed buttons (#129)
  assets/css/tokens.css
Due: prettier --write

Address review: pauseable research clip and mobile-first video CSS
  _research/index.md
  assets/css/research-v2.css
  assets/js/page-research.js
Due: eslint --fix, prettier --write, markdownlint-cli2

Update Verschuur PRF paper to full citation with figure and video (#124)
  _data/news.yml
  _org_profile/README.md
  _research/index.md
  assets/css/research-v2.css
  assets/images/research/elasticity-bubble-pinch-off-poster.png
  assets/images/research/elasticity-bubble-pinch-off.png
  assets/js/page-research.js
  assets/videos/elasticity-bubble-pinch-off.mp4
Due: eslint --fix, prettier --write, markdownlint-cli2

Bump transitive npm deps to close Dependabot alerts #81–#83, #86–#89
  package-lock.json
  package.json
Due: prettier --write

Restore lockfile libc metadata stripped by npm refresh
  package-lock.json
Due: prettier --write

Bump transitive npm deps to close Dependabot alerts #81–#83, #86–#89 (#134)
  package-lock.json
  package.json
Due: prettier --write

Fix hero carousel layout jumps and caption clipping (#132)
  assets/css/home.css
Due: prettier --write

Link the talks site from the footer and command palette
  _includes/footer-v2.html
  assets/js/command-data.js
Due: eslint --fix, prettier --write

Add Talks to the site header and keep the bar from wrapping
  _layouts/default.html
  _layouts/history.html
  _layouts/join-us.html
  _layouts/team.html
  assets/css/command-palette.css
  assets/css/styles.css
  tests/header-nav.test.js
Due: prettier --write

Path conditions:
  eslint --fix: any of: assets/js/**/*.js
  prettier --write: ((any of: assets/js/**/*.js) or (any of: assets/css/**/*.css)) or (any of: *.{json,yml,yaml})
  markdownlint-cli2: any of: *.md
